
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #F9F5F6;
}

.perfil {
    width: 500px;
    margin: auto;
    padding: 50px;
    background-color: #F9F5F6
}

.usuario {
    display: flex;
    width: 350px;
    margin: auto;
}

