.pedido {
    border: solid rgb(194, 192, 192) 1px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.099);
    background-color: #F7F7F7;
    width: 450px;
    padding: 50px;
    margin: 30px auto;

    
}
.carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid rgb(194, 192, 192) 1px;
    font-size: 18px;
    gap: 10px ;
    
}
.carrito-detalle {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-around;
}


